<nb-card>
    <nb-card-header>
        <h2 class="h5">Termin erstellen / bearbeiten</h2>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="appointmentForm" (ngSubmit)="addEvent()">
            <div class="form-group">
                <label for="title">Titel</label>
                <nb-form-field>
                    <input nbInput id="title" formControlName="title" placeholder="Titel des Termins" required />
                </nb-form-field>
            </div>

            <div class="form-group">
                <label for="date">Datum</label>
                <nb-form-field>
                    <nb-icon nbPrefix icon="calendar-outline"></nb-icon>
                    <input nbInput id="date" type="date" formControlName="date" [disabled]="true" required />
                </nb-form-field>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" formControlName="allDay" />
                    Ganztägig
                </label>
            </div>

            <div *ngIf="!appointmentForm.get('allDay')?.value">
                <div class="form-group half-width">
                    <label for="timeStart">Von</label>
                    <nb-form-field>
                        <nb-icon nbPrefix icon="clock-outline"></nb-icon>
                        <input nbInput id="timeStart" type="time" formControlName="startTime" required />
                    </nb-form-field>
                </div>
                <div class="form-group half-width">
                    <label for="timeEnd">Bis</label>
                    <nb-form-field>
                        <nb-icon nbPrefix icon="clock-outline"></nb-icon>
                        <input nbInput id="timeEnd" type="time" formControlName="endTime" required />
                    </nb-form-field>
                </div>
            </div>

            <div class="form-group" id="search-group">
                <nb-form-field>
                    <input nbInput [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (input)="filterMembers(searchQuery)" placeholder="Suche nach Mitglied..." class="umd-search-input" />
                    <ul *ngIf="filteredMembers.length > 0" class="umd-dropdown-list">
                        <li *ngFor="let m of filteredMembers" (click)="onSelect(m)">
                            {{ m.name }}
                        </li>
                    </ul>
                </nb-form-field>
            </div>

            <div *ngIf="timeError" class="error-message">
                Die Endzeit muss nach der Startzeit liegen.
            </div>

            <div *ngIf="selectedMembers.length > 0" class="selected-members">
                <p>Ausgewählte Mitglieder:</p>
                <div id="member-box">
                    <div *ngFor="let member of selectedMembers" class="member">
                        <span class="member-name">{{ member.name }}</span>
                        <button type="button" (click)="removeMember(member)">X</button>
                    </div>
                </div>
            </div>

            <button nbButton status="success" type="submit">Speichern</button>
        </form>
    </nb-card-body>
</nb-card>
