# Allgemeine Ignorierregeln
*.log
*.tmp
*.swp
*.DS_Store
*.pnpm/
Thumbs.db

# Node.js (Angular Projekt in app/frontend/web)
app/frontend/web/node_modules/
app/frontend/web/dist/
app/frontend/web/npm-debug.log
app/frontend/web/yarn-error.log
app/frontend/web/.angular/
app/frontend/.idea/
app/frontend/web/.pnpm/
# Angular spezifische Dateien
app/frontend/web/.angular/cache/
app/frontend/web/.angular.lock

# SwiftUI (iOS Projekt in app/frontend/iOS)
app/frontend/iOS/DerivedData/
app/frontend/iOS/build/
app/frontend/iOS/*.xcworkspace/
app/frontend/iOS/*.xcuserdata/
app/frontend/iOS/*.xcodeproj/

# Core Data Storage spezifische Dateien
app/frontend/iOS/*.xcdatamodeld/
app/frontend/iOS/*.xcdatamodel/

# Quarkus Projekt (app/backend)
app/backend/target/
app/backend/logs/
app/backend/*.log

# IDEs und Editoren
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm/

# Betriebssystemspezifische Dateien
.DS_Store
Thumbs.db

# Logs und temporäre Dateien
logs/
*.log
*.out
*.pid
*.gz
*.tgz
*.bak

# Build-Verzeichnisse
dist/
build/
bin/
tmp/

# Git-Ordner
.git/
.gitattributes
.gitignore
