<h1 mat-dialog-title>Status ändern</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="currentStatus">
            <mat-option *ngFor="let status of statusList" [value]="status">
                {{ status }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="currentStatus" cdkFocusInitial>Speichern</button>
</div>