/* Allgemeine Stildefinitionen */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header-Stil */
h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  color: #555;
  text-align: center;
  margin: 10px 0;
}

/* Tabellenstil */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Responsives Design */
@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
