<h1 mat-dialog-title>Rechnung erstellen</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Kontaktperson auf der Rechnung?</mat-label>
        <mat-select [(value)]="includeContact">
            <mat-option [value]="true">Ja</mat-option>
            <mat-option [value]="false">Nein</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="includeContact">
        <mat-label>Kontaktperson auswählen</mat-label>
        <mat-select [(value)]="selectedContact">
            <mat-option *ngFor="let contact of contacts" [value]="contact">
                {{ contact.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Item Templates</mat-label>
        <mat-select [(value)]="selectedItems" multiple>
            <mat-option *ngFor="let item of itemTemplates" [value]="item">
                {{ item.name }} - {{ item.price | currency }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="addCustomItems">Eigene Items hinzufügen</mat-checkbox>
    <div *ngIf="addCustomItems">
        <div *ngFor="let customItem of customItems; let i = index">
            <mat-form-field appearance="fill">
                <mat-label>Item Name</mat-label>
                <input matInput [(ngModel)]="customItems[i].name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Item Preis</mat-label>
                <input matInput type="number" [(ngModel)]="customItems[i].price">
            </mat-form-field>
            <button mat-button (click)="addNewItem()">Ein weiteres</button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button (click)="goToReview()">Weiter</button>
</div>