nb-card{
  width: 32em;
}

.form-group{
  margin-bottom: 1em;
  width: 100%;
}
#cancelButton{
  background-color: #d8d9da;
  border-color: #d8d9da;
  margin-right: 2%;
}

#cancelButton:hover{
  background-color: #b5b8b8;
}