<nb-card>
    <nb-card-header>
        <h2>Rechnung versenden</h2>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" class="send-invoice-form">
            <!-- Auswahl der E-Mail-Zieladresse -->
            <div class="form-group">
                <label for="emailTarget">E-Mail senden an<span class="text-danger">*</span></label>
                <nb-select placeholder="E-Mail Ziel auswählen" formControlName="emailTarget" required>
                    <nb-option *ngFor="let option of availableEmailOptions" [value]="option.value">
                        {{ option.label }}
                    </nb-option>
                </nb-select>
                <div *ngIf="form.get('emailTarget')?.hasError('required') && form.get('emailTarget')?.touched" class="error-message">
                    Auswahl der E-Mail-Zieladresse ist erforderlich.
                </div>
            </div>

            <!-- Bestätigungscheckbox -->
            <div class="form-group">
                <nb-checkbox formControlName="confirm">Ich bin mir sicher, dass ich die Rechnung senden möchte.</nb-checkbox>
                <div *ngIf="form.get('confirm')?.hasError('required') && form.get('confirm')?.touched" class="error-message">
                    Bestätigung ist erforderlich.
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="form-footer">
        <button nbButton status="basic" (click)="cancel()">Abbrechen</button>
        <button nbButton status="success" (click)="sendEmail()" [disabled]="!isEmailValid">Senden</button>
    </nb-card-footer>
</nb-card>