@import '../../../../styles';

.table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: $primary-color;
  color: white;

  .header-item {
    flex: 1;
    text-align: left;
    font-weight: bold;
  }
}
