<div class="modal-backdrop" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="close-button" (click)="closeModal()">&times;</span>
            <ng-container *ngIf="showProgress">
                <div class="progress-indicator" *ngIf="showProgress">{{ progressIndicator }}</div>
            </ng-container>
        </div>
        <div class="modal-body" [ngSwitch]="getMode">

        </div>
    </div>
</div>