h1 {
  font-size: 2vh;
  margin: 6% 0 0 0;
  font-family: 'Poppins', sans-serif;
  line-height: 120%;
}

#dashboard-wrapper {
  margin: 0 0 0 2vw;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
