<nb-card *ngFor="let event of filteredAppointments">
    <nb-card-body>
        <h3>{{ event.name }}</h3>
        <div class="event-details">
            <p><strong>Datum:</strong> {{ event.date }}</p>
            <p>
                <strong>Startzeit:</strong> {{ event.startTime }} -
                <strong>Endzeit:</strong> {{ event.endTime }}
            </p>
        </div>
        <nb-accordion *ngIf="event.members && event.members.length">
            <nb-accordion-item>
                <nb-accordion-item-header>
                    <strong>Teilnehmer</strong>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <ul>
                        <li *ngFor="let member of event.members">
                            <strong>{{ member.firstName + ' ' + member.lastName }}</strong>
                        </li>
                    </ul>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>
