<!-- the title is placed here -->
<div mat-dialog-title>
  <h2>Add Invoice</h2>
</div>


<form [formGroup]="invoiceForm" (ngSubmit)="onFormSubmit()">
  <!--The content of the dialog is placed here for example forms and so on-->
  <div mat-dialog-content>
    <!--Firmename-->
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Firmenname</mat-label>
      <input matInput type="text" formControlName="companyname">
    </mat-form-field>

    <div class="row">
      <!--Anschrift-->
      <mat-form-field style="width: 80%" appearance="outline">
        <mat-label>Adresse</mat-label>
        <input type="text" matInput formControlName="address">
      </mat-form-field>

      <mat-form-field style="width: 20%" appearance="outline">
        <mat-label>Nr</mat-label>
        <input matInput formControlName="addressnr">
      </mat-form-field>
    </div>

    <div class="row">
      <!--Anschrift-->
      <mat-form-field style="width: 20%" appearance="outline">
        <mat-label>PLZ</mat-label>
        <input matInput formControlName="plz">
      </mat-form-field>

      <mat-form-field style="width: 80%" appearance="outline">
        <mat-label>Stadt</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field style="width: 100%">
        <mat-label>Sponsorpacket ausw&auml;hlen</mat-label>
        <mat-select formControlName="sponsorpackage">
          <mat-option *ngFor="let val of sponsorclasses" [value]="val">
            {{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>


  <!-- all the actions are placed here -->
  <div mat-dialog-actions>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </div>

</form>
