mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.nav-items {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}