<mat-toolbar color="primary">
  <span class="nav-logo">

  </span>

    <span class="nav-items">
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/sponsorship">Sponsoren</a>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>Profil ansehen</button>
      <button (click)="logOut() "mat-menu-item>Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <img ngSrc="assets/img/{{userProfileImageUrl}}" alt="profile" class="profile-image">
        {{ userName }}
    </button>
  </span>
</mat-toolbar>