<p>Name des Ansprechpartners:</p>
<input type="text" id="inputfeld" disabled>
<br>
<p>Leistungen:</p>
<select style="width: 100%" multiple >
    @for (templateItem of templateItems; track templateItem) {
        <option>{{templateItem.name}} - {{templateItem.price}} €</option>
    }
</select>

<p>Zusätzliche Leistungen:</p>
<input type="text" id="a" name="eingabefeld" placeholder="Bezeichnung">
<input type="number" id="edngabefeld" name="eingabefeld" placeholder="Preis">

<p>Datum:</p>
<input type="date" id="datepicker" name="datepicker">