<div class="table-row" (click)="toggleDetails()">
    <div class="row-item">{{ company.companyName }}</div>
    <div class="row-item">{{ company.officeMail }}</div>
    <div class="row-item">{{ company.contactPersonName }}</div>
    <div class="row-item">{{ company.revenue | currency }}</div>
</div>

<div *ngIf="isExpanded" class="details-container" [class.expanded]="isExpanded">
    <div><strong>Kontaktpersonen:</strong></div>
    <div *ngFor="let person of details.contactPersons">
        <p>{{ person.firstName }} {{ person.lastName }} ({{ person.position }})</p>
    </div>
    <div><strong>Rechnungen:</strong></div>
    <div *ngFor="let invoice of details.invoices">
        <p>Rechnung #{{ invoice.id }} vom {{ invoice.invoiceDate | date:'mediumDate' }}</p>
    </div>
    <button class="add-invoice-button" (click)="addInvoice()">Rechnung hinzufügen</button>
</div>
