<div class="table-row" (click)="toggleDetails()">
    <div class="row-item">{{ company.companyName }}</div>
    <div class="row-item">{{ company.officeMail }}</div>
    <div class="row-item">{{ company.contactPersonName }}</div>
    <div class="row-item">{{ company.revenue | currency }}</div>
    <div class="row-item">Aufklappen</div>
</div>

<div *ngIf="isExpanded" class="details-container" [class.expanded]="isExpanded">
    <div><strong>Kontaktpersonen:</strong></div>
    <div *ngIf="details.contactPerson">
        <p>{{ details.contactPerson.firstName }} {{ details.contactPerson.lastName }} ({{ details.contactPerson.position }})</p>
    </div>
    <div><strong>Rechnungen:</strong></div>
    <div *ngFor="let invoice of details.invoices">
        <p>Rechnung #{{ invoice.id }} vom {{ invoice.invoiceDate | date:'mediumDate' }}</p>
    </div>

    <button class="add-invoice-button" (click)="openModal(modalTemplate)">Rechnung hinzufügen</button>
</div>



<ng-template #modalTemplate>
    <p>Name des Ansprechpartners:</p>
    <input type="text" id="inputfeld" disabled>
    <br>
    <p>Leistungen:</p>
    <select style="width: 100%" multiple [(ngModel)]="selectedItems">
        <!--<option *ngFor="let item of allItems" [value]="item"]>{{ item }}</option>-->
        <option>test1</option>
        <option>test2</option>
        <option>test3</option>
        <option>test4</option>
    </select>

    <p>Zusätzliche Leistungen:</p>
    <input type="text" id="eingabefeld" name="eingabefeld" placeholder="Bezeichnung">
    <input type="number" id="eingabefeld" name="eingabefeld" placeholder="Preis">

    <p>Datum:</p>
    <input type="date" id="datepicker" name="datepicker">


</ng-template>


